/* src/pages/MenuPage.css */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Ajusta esto para el alineamiento vertical según tu necesidad */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.bebidas-menu-list {
    width: auto;
    background-color: #f0f0f0; /* Ejemplo de color */
    padding: 40px;
    box-sizing: border-box;
}

.platos-menu-list {
    width: auto;
    flex-grow: 1; /* Ocupa el espacio restante */
    background-color: #e0e0e0; /* Ejemplo de color */
    padding: 20px;
    box-sizing: border-box;
}

/* Responsive */
@media (max-width: 300px) {
    .container {
        flex-direction: column; /* Apila las columnas en dispositivos más pequeños */
    }
}
